
  
  .boxes, .profileImg-wrapper-inner, .ril__builtinButton {
  /* height: 17.6vw; */
  position: relative;
  }
  .boxes{
    padding: 0%;
  }

  .box2{
    max-width: 350px;
    height: 240px;
    margin-left: 10px;
    overflow: hidden ;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.175) !important;
  }
  .portfolio-title{
    font-family:  Helvetica Neue ,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    
  }

  .portfolio-header{
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: -15px;
  }
  .portfolio-caption{
   max-width: 350px;
   margin-left: 10px;
   background-color: whitesmoke;
   text-align: center;
   box-shadow: 0 1rem 4rem rgba(0,0,0,0.175) !important;
  }
  .portfolio-body{
    max-width: 350px;
   background-color: whitesmoke;
   padding: 10px;
   margin-top: -20px;
   margin-left: 10px;
   
  }
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  .column1{
    float: left; 
    width: 50%;
  }
  .img{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    border: 10px;
    border-style: solid;
    height: 16.4vw;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.175) !important;
  }
  .p-img{
    font-size: .80vw;
  }
  
  .column-head{
    margin-top: 25px;
    margin-bottom: 13%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .ril__builtinButton{
    align-content: center;
  }

  .portfoilo-artilce{
    max-width: 1170px;
    position: relative;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.175) !important;
  }


  .portfolio-layout{
    justify-content: center;
  }
  