
.header{
  background-image: url('./img/2019-12-13-15-43-26.png');
  background-repeat:  no-repeat;
  
}
.header-overlay{
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
 
}

.header-box{
  height: 320px;
  background-image: url('./img/2019-12-13-15-43-26.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat:  no-repeat;
}

.resume-title{
  position: relative;
  max-width: 1000px;
  padding-top: 3rem;
  color: aliceblue;
}
.resume-title-head{
font-family: serif;
font-size: 32px;
}
.wrapper{
  position: relative;
}
article{
 display: block;
 margin-top: -180px;
 font-family: serif;
}
.inner-wrapper{
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  background-color: White;
  box-shadow: 0 1rem 4rem rgba(0,0,0,0.175) !important;
  box-sizing: border-box;
}
.resume-header{
  height:220px;
  background-color: grey;
  margin-right: 0px;
  margin-left: 0px;
}
.resume-img{
  padding-top: 15px;
  padding-right: 0px;
}

.resume-discription{
  padding-top: 15px;
  padding-left: 0px;
  color: aliceblue;
}
.email-button{
  padding-left: 0px;
}
.resume-body{
  padding: 3rem;
  padding-bottom: 1.5rem !important;

}
.career-summary{
  position: relative;
  /* font-family: 'Fugaz One', cursive;  */
  text-transform: capitalize;
  font-size: 12px !important;
  text-align: left;
  width: 100%;
  
}
.career-summary:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #8d9aad;
}
.career-body{
  margin-top: 1rem;
}
.experience-body{
  padding-left: 3rem;
  /* padding-right: 0rem;  */
  /* font-family: 'Fugaz One', cursive;  */
  box-sizing: border-box;
  width: 1000px;
  padding-bottom: 2rem;
}
.work-experience{
  padding-left: 0px !important;
}
.work-header{
  position: relative;
}
.work-header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 1.5px;
  background: #8d9aad;
}
.work-row{
  height: 200px;
}

.skills{
  /* font-family: 'Fugaz One', cursive;  */
  padding-left: 0px !important;
  position: relative;
  height: 450px;
}
.skills:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 1.5px;
  background: #8d9aad;
}


.resume-links{
  padding-top: 70px;
}
.git-hub, .linkedin{
font-size: 12px;
font-family: serif; 
color: aliceblue !important;

}
.fa-github-square, .fa-linkedin{
  color: aliceblue
}
.btn-link{
  color: rgb(43, 226, 186)
}
.css-vcfpfv{
  outline: 5px solid rgb(43, 226, 186) !important;
}
.css-o1utbh{
  margin-inline-start: -29px;
  font-family: serif !important;
}
.css-1jv1kel {
  font-size: 15px !important;
  
  
  }
  .fa-react, .fa-node, .fa-html5, .fa-css3-alt, .fa-js{
    font-size: 85px;
    margin: 16px;
    
    }